$bodyBackgroundColor:#fff;
$font: 'Hind', sans-serif;
$buttonBackgroundColor:#699900;
$underlineColor: #14a0c7;

$backgroundImage:'../img/m-h-day.jpg';
$headerFontColor:#2c2f3c;

$cardsBackgroundColor:#21232e;
$gradientColorStart: #659510;
$gradientColorEnd: #2f5dd3;

$footerBackgroundColor:#21232e;
