$bodyBackgroundColor:#21232e;
$font: 'Fresca', sans-serif;
$buttonBackgroundColor:#e3ac00;
$underlineColor: #ff4e33;

$backgroundImage:'../img/m-h-night.jpg';
$headerFontColor: #fff;

$cardsBackgroundColor:#3b3f50;
$gradientColorStart: #dea306;
$gradientColorEnd: #96324e;

$footerBackgroundColor:#3b3f50;
